<footer>
  <div class="footer set-left">
    <p>© {{ 'now' | date: "%Y"}} working_title</p>
  </div>
  <div class="footer set-mid">
      <p><a href="#"><i class="fab fa-github"></i></a></p>
      <p><a href="#"><i class="fab fa-twitter"></i></a></p>
  </div>
  <div class="footer set-right">
    <p><a href="#">Contact</a></p>
    <p><a href="">Blog</a></p>
    <p><a href="{{ site.baseurl }}{{ pages }}/about">About</a></p>
    <p><a href="{{ site.baseurl }}{{ pages.url }}/impressum">Impressum</a></p>
  </div>
</footer>
