<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.1/css/all.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css"> -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Turret+Road:400,700&display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700&display=swap">

    <!-- Inline CSS here -->
    {% capture inline_css %}
    {% include inline.scss %}
    {% endcapture %}
    <style type="text/css">
    {{ inline_css | scssify }}
    </style>
      <meta name="msapplication-TileColor" content="#666666">
      <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">
      <meta name="msapplication-config" content="/icons/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
  </head>
