<nav class="navbar">
  <div class="navbar-brand">
    <i class="fas fa-circle-notch title"></i>
    <a class="navbar-item" href="{{site.url}}">
      <h1 class="title">{{site.title}}</h1>
    </a>
    <span class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-start">
        <a class="navbar-item" href="{{site.baseurl}}/blog">Blog</a>
        <a class="navbar-item" href="#">Item2</a>
        <a class="navbar-item" href="#">Item3</a>
      </div>
    </div>
</nav>
