@charset "utf-8";

$break-mid: 515px;

.navbar {
  & > div.navbar-brand {
    & > i {
      margin: auto 0;
      padding: .5rem;
    }
    & > a.navbar-item {
      padding-left: 0 !important;
    }
  }
}

.footer {
  display: flex !important;
}

.footer {
  & > .content {
    width: 33%;
    & > .footer-sitenfo{
      cursor: default;
      & > a > i{
          padding: .7rem;
      }
      & > span.mdot::before{
        content: "\00B7";
      }
    }
  }
}
